@import "../../../../styles/parent";

.aside {
    flex: 1;
    background: $pure-white;
    display: grid;
    grid: 80px 200px auto auto / 100%;

    .aside__top {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .aside__button__wrapper {
        display: flex;
        flex-direction: column;
        // padding: 1rem;

        button {
            @extend %resetCss;
            @extend %center-flex;
            // width: 100%;     
            margin: .5rem;
            padding: .5rem 0;
            border-radius: .2rem;
            border-radius: .5rem;
            border: 1px transparent solid;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.185);

            span {
                flex: 3;
            }
        }
    }

    .aside__header {
        border-radius: .3rem;
        padding: .4rem 1rem;
        margin: 1rem 1rem;
        display: flex;
        flex-direction: column;
        border: $light-wrapper-border;

        div {
            display: flex;
            width: 100%;
            padding: 1rem 0;
            flex-direction: column;

            input {
                padding: .5rem 1rem;
                border: 2px rgba(128, 128, 128, 0.097) solid;
            }

        }

        label {
            margin: .2rem 0;

            input,
            textarea {
                margin: .2rem 0;
                border-radius: .4rem;
                padding: .4rem .8rem;
                border: 2px rgba(128, 128, 128, 0.097) solid;
                background: white;
                resize: none;
            }
        }
    }
}