$frame-top-height : 80px;




.wrapper {
    display: grid;
    grid: 100vh / 300px auto;

    .aside {
        display: grid;
        grid: $frame-top-height auto 100px / auto;

        .logo__wrapper {
            display: flex;
            align-items: center;

            h3 {
                font-weight: 500;
                font-size: 1em;
            }
        }

        .button__wrapper {
            background: rgba(255, 255, 255, 0.025);
        }

        .total {
            padding: 2rem 0;
            text-align: center;

            sub {
                font-size: .7rem;
            }
        }

        .create__button {
            border: none;
            width: 250px;
            padding: .4rem;
            display: block;
            color: white;
            margin: 1rem auto;
            font-size: 1.2rem;
            border-radius: .5rem;
            box-sizing: border-box;
            background: rgb(47, 47, 47);
        }

        .user {
            padding: 1rem;
            display: grid;
            align-items: center;
            grid: 100% / auto auto;

            h3 {
                font-size: 1rem;
                font-weight: 800;
            }

            p {
                font-size: .8rem;
            }

            .avatar {
                height: 100%;
                display: flex;
                font-size: 2rem;
                align-items: center;
                margin: 0 1rem 0 0;
                justify-content: center;
                background: rgb(255, 255, 255);
            }
        }
    }

    .main {
        display: grid;
        grid: $frame-top-height auto / 100%;
        background: url('/dashboard-bg.jpg') rgba(0,
                0,
                0,
                0.131);
        background-size: cover;

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.472);

            button {
                all: unset;
                margin: 0 1rem;
                padding: 0 1rem 0 1rem;
                transition: all .5s;
                border-bottom: 2px transparent solid;
                height: 100%; // for better accesiblity..
                text-transform: capitalize;
                cursor: pointer;



            }
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            max-height: 100%;
            overflow-y: scroll;

            .form {
                margin: 1rem;
                height: fit-content;
                max-width: 300px;
                background: white;
                border-radius: .3rem;
                background-size: cover;


                .top {
                    height: 200px;
                    width: 300px;
                    background: url('/logo.svg') no-repeat;
                    background-size: 150px;
                    background-position: center;
                    border-bottom: 1px rgba(0, 0, 0, 0.085) solid;

                }

                .bottom {
                    display: flex;
                    padding: .5rem;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        flex: 2;
                        font-weight: 500;
                        font-size: .8rem;
                        text-transform: capitalize;
                    }

                    p {
                        flex: 1;
                        display: flex;
                        font-size: .8rem;
                        align-items: center;
                        justify-content: center;
                        color: rgb(174, 0, 255);
                    }

                    button {
                        flex: 1;
                    }
                }
            }
        }
    }
}