@import "../../../styles/parent";

.wrapper {
    display: grid;
    grid: 100vh / 400px auto;
    background: #000;
    font-family: 'Varela Round', sans-serif;

    .aside {
        resize: vertical;
        max-height: 100vh;
        overflow-y: scroll;
        padding: 1rem;
        background: #ffffff;
        flex: 1;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.123);
            border-radius: 1rem;
        }

        h1 {
            padding: 1rem;
            font-size: 1.5rem;
        }

        .aside__button__wrapper {
            display: flex;
            padding: 1rem;

            button {
                @extend %resetCss;
                @extend %center-flex;
                width: 100%;
                padding: .5rem 0;
                border-radius: .2rem;
                margin: .5rem;
                border-radius: .5rem;
                border: 1px transparent solid;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.055);

                span {
                    flex: 3;
                }
            }
        }

        .aside__header {
            margin: 1rem 0;
            padding-right: 2rem;

            display: flex;
            flex-direction: column;

            label {
                width: 100%;
                margin: .2rem 0;

                input,
                textarea {
                    border: 2px rgba(128, 128, 128, 0.097) solid;
                    border-radius: .4rem;
                    margin: .2rem 0;
                    width: 100%;
                    padding: .4rem .8rem;
                }
            }

        }
    }


    // Component Main
    .main {
        background: rgba(243, 243, 243, 0.712);
        display: grid;
        grid: auto 50px /100%; // padding: 1rem;

        .main__meta {
            height: 100%;
            overflow-y: scroll;
            display: flex;
            justify-content: center;
            border-radius: .2rem;
        }

        .footer {
            padding: 0 1rem;
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer__noti {
                font-style: italic;

                span {
                    border: 1px solid black;
                    padding: .2rem .5rem;
                    border-radius: .5rem;

                    &:nth-child(even) {
                        margin-left: 1rem
                    }
                }
            }

            .footer__button__wrapper {
                .footer__button__produce {
                    @extend %resetCss;
                    color: white;
                    border-radius: .3rem;
                    font-weight: 500;
                    padding: .5rem 1rem;
                    font-size: 1rem;
                    background: blue;
                }
            }
        }
    }
}

//testing purposes


.main__header__wrapper__input {
    // margin: 1rem;

    span {
        display: block;
    }

    input {
        padding: .5rem 3rem .5rem .5rem;
    }
}
