@import "../../../styles/parent";

.wrapper {
    display: grid;
    grid: 100vh / 400px auto;
    background: #000;
    font-family: 'Varela Round', sans-serif;

    .aside {
        resize: vertical;
        max-height: 100vh;
        overflow-y: scroll;
        padding: 2rem;
        background: #ffffff;
        flex: 1;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.123);
            border-radius: 1rem;
        }

        h1 {
            padding: 1rem;
            font-size: 1.5rem;
        }

        .aside__button__wrapper {
            display: flex;
            padding: 1rem;

            button {
                @extend %resetCss;
                @extend %center-flex;
                width: 100%;
                padding: .5rem 0;
                border-radius: .2rem;
                margin: .5rem;
                border-radius: .5rem;
                border: 1px transparent solid;
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.055);

                span {
                    flex: 3;
                }
            }
        }
    }


    // Component Main
    .main {
        background: rgba(243, 243, 243, 0.712);
        display: grid;
        grid: auto 50px /100%; // padding: 1rem;

        .main__meta {
            height: 100%;
            overflow-y: scroll;
            display: flex;
            justify-content: center;
            border-radius: .2rem;
        }

        .footer {
            padding: 0 1rem;
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer__noti {
                font-style: italic;

                span {
                    border: 1px solid black;
                    padding: .2rem .5rem;
                    border-radius: .5rem;

                    &:nth-child(even) {
                        margin-left: 1rem
                    }
                }
            }

            .footer__button__wrapper {
                .footer__button__produce {
                    @extend %resetCss;
                    color: white;
                    border-radius: .3rem;
                    font-weight: 500;
                    padding: .5rem 1rem;
                    font-size: 1rem;
                    background: blue;
                }
            }
        }
    }

    .popup {
        @extend %center-flex;
        margin-top: 1rem;

        .popup__wrapper {
            padding: 1rem;
            width: 500px;
            background: $blue;
            background-image: linear-gradient(-45deg, $blue, red);
            border-radius: .2rem;
            color: white !important;

            h4 {
                text-transform: uppercase;
                letter-spacing: .1rem;
            }

            label {
                display: block;
                margin: .5rem 0;
                display: flex;
                flex-direction: column;

                span {
                    padding: .3rem 0;
                    text-transform: capitalize;
                    font-size: .9rem;

                }

                input {
                    border-color: transparent !important;
                    // display: block;
                    border-radius: .2rem;
                    outline: none;
                    background: rgba(255, 255, 255, 0.15);
                    color: white;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.678);
                    }
                }

                button {
                    padding: 1rem;
                }

            }

            .popup__wrapper__dropbox {
                ul {
                    li {
                        @extend %center-flex;
                        justify-content: space-between;
                        background: rgba(255, 255, 255, 0.068);
                        padding: .2rem .3rem;
                        margin: .3rem 0;
                        border-radius: .2rem;
                        text-transform: capitalize;
                    }
                }

            }

            // why is pastly gliched
            .popup__wrapper__dropbox__input__wrapper {
                overflow: hidden;
                border-radius: .2rem;
                display: flex;

                input {
                    flex: 1;
                    padding-left: .5rem;
                    border: none;
                }

                button {
                    flex: 1;
                    padding: .5rem .5rem .5rem .5rem;
                    background: rgb(255, 255, 255);

                }
            }


        }

    }
}

//testing purposes


.main__header__wrapper__input {
    // margin: 1rem;

    span {
        display: block;
    }

    input {
        padding: .5rem 3rem .5rem .5rem;
    }
}

// button

.popup__wrapper__button__wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    button {
        padding: .3rem 1rem;
        background: rgba(255, 255, 255, 0.102);
        border-radius: .2rem;
    }
}