$lightblues : #E9EFF6;
$blues : #4460F1;

@import '../../../styles/parent';



.special {
    margin: auto;
}

.form {
    padding: 0rem;
    display: flex;
    flex-direction: column;

    .input,
    .select,
    .textarea,
    .header {

        background: white;
        margin: 1rem;
        border-radius: .3rem;
        padding: 1rem 2rem 1rem 2rem;
        border: 2px transparent solid;
        max-width: 300px;
        min-width: 300px;

        // to make inuput width 100%
        display: flex;
        flex-direction: column;

        &:hover {
            border: rgba(0, 0, 255, 0.178) solid 2px;
        }

        h3 {
            padding: .5rem 0;
            letter-spacing: 1px;
            font-size: 1.1rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        p {
            opacity: .7;
            padding: .2rem 0 .5rem 0;
            font-size: .9rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        input,
        select,
        textarea {

            padding: .6rem 1rem;
            min-width: 200px;
            border-radius: .3rem;
            border: none;
            background: $lightblues;

            &:focus {
                outline: 2px $blues solid;
                transition: none;
            }
        }
    }

    .header {
        p {
            padding: .4rem 0;
        }
    }

}

.submit__button {
    @extend %resetCss;
    display: block;
    padding: .8rem 3rem;
    background: rgb(21, 0, 250);
    color: white;
    text-transform: capitalize;
    margin: 2rem 1rem;
    border-radius: .2rem;
    width: 50%;
    margin: auto;

}

// testing ........    
.preview__input,
.preview__select,
.preview__textarea,
.preview__header {

    background: white;
    margin: 1rem;
    border-radius: .3rem;
    padding: 2rem 2rem 2rem 2rem;
    border: 2px transparent solid;
    max-width: 300px;
    min-width: 300px;
    box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, 0.065);

    display: flex;
    flex-direction: column;

    &:hover {
        border: rgba(0, 0, 255, 0.178) solid 2px;
    }

    h3 {
        padding: .5rem 0;
        letter-spacing: 1px;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        font-weight: 500 !important;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    p {
        opacity: .7;
        padding: .2rem 0 .5rem 0;
        font-size: .9rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    input,
    select,
    textarea {

        padding: .6rem 1rem;
        min-width: 200px;
        border-radius: .3rem;
        border: none;
        background: $lightblues;

        &:focus {
            outline: 2px $blues solid;
            transition: none;
        }
    }
}