@import "../../../styles//parent";

.wrapper {

    display: flex;
    padding: .4rem 1rem;
    border-radius: .2rem;
    flex-direction: column;
    border: $light-wrapper-border;


    .element__wrapper {
        margin-top: 1rem;
        padding-right: .3rem;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.123);
            border-radius: 1rem;
            color: #ff000017;
        }

        .element {
            border: $light-wrapper-border;
            padding: 0 1rem;
            font-size: .8rem;
            margin: .5rem 0;
            border-radius: .2rem;



            // &:nth-child(even) {
            //     background: rgba(0, 0, 0, 0.021) !important;
            // }

            .header {
                display: flex;
                padding: .5rem .5rem;
                justify-content: space-between;

                div {
                    display: flex;

                    button {
                        margin: 0 1rem;
                    }
                }

                span {
                    word-wrap: break-all;
                    display: flex;
                    align-items: center;
                    letter-spacing: .5px;

                    p {
                        color: rgba(128, 128, 128, 0.835);
                        padding: .2rem;
                        display: inline;
                        font-size: .6rem;
                        margin-left: 1rem;
                        border-radius: .2rem;
                        letter-spacing: .5px;
                        text-transform: capitalize;
                        border: 1px rgba(128, 128, 128, 0.421) solid;
                    }

                    font-weight: bold;
                    font-size: .8rem;
                    color: rgba(0, 0, 0, 0.616);
                }
            }

            .details {
                padding: 0 0rem;

                button {
                    margin: 0 .8rem;
                    border-radius: .2rem;
                }

                .editor {
                    padding: .5rem 0;
                    display: flex;
                    flex-direction: column;

                    input {
                        border: none;
                        margin: .3rem;
                        padding: .5rem;
                        border-radius: .2rem;
                        border: rgba(128, 128, 128, 0.15) 2px solid;
                    }

                    .options {
                        margin: .5rem 0;

                        h4 {
                            padding: .5rem 0;
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                display: flex;
                                margin: .3rem;
                                padding: .3rem;
                                max-width: 100px;
                                padding-left: .2rem;
                                align-items: center;
                                border-radius: .2rem;
                                border: 1px solid black;
                                justify-content: space-between;
                            }
                        }
                    }


                }

            }
        }
    }
}

.details {
    padding: 0 0rem;

    button {
        margin: 0 .8rem;
        border-radius: .2rem;
    }

    .editor {
        padding: .5rem 0;
        display: flex;
        flex-direction: column;

        input {
            border: none;
            margin: .3rem;
            padding: .5rem;
            border-radius: .2rem;
            border: rgba(128, 128, 128, 0.15) 2px solid;
        }

        .options {
            margin: .5rem 0;

            h4 {
                padding: .5rem 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    display: flex;
                    margin: .3rem;
                    padding: .3rem;
                    max-width: 100px;
                    padding-left: .2rem;
                    align-items: center;
                    border-radius: .2rem;
                    border: 1px solid black;
                    justify-content: space-between;
                }
            }
        }


    }

}