.wrapper {
    h3 {
        padding: 1rem 0;
    }

    .element__wrapper {

        .element {
            font-size: .8rem;
            margin: .3rem 0;
            border: 2px rgba(128, 128, 128, 0.068) solid;
            border-radius: .2rem;

            .header {
                padding: .5rem .5rem;
                display: flex;
                justify-content: space-between;

                div {
                    display: flex;

                    button {
                        margin: 0 1rem;
                    }
                }

                span {
                    word-wrap: break-all;

                    p {
                        display: inline;
                        font-size: .6rem;
                        margin-left: 1rem;
                        padding: .2rem;
                        letter-spacing: .5px;
                        text-transform: capitalize;
                        border: 1px rgba(0, 0, 0, 0.13) solid;
                        border-radius: .2rem;
                    }

                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.616);
                    font-size: .8rem;
                }
            }

            .details {
                padding: 0 1rem;

                button {
                    border-radius: .2rem;
                    margin: 0 .8rem;
                }

                .editor {
                    padding: .5rem 0;

                    input {
                        margin: .3rem;
                        padding: .3rem;
                        background: rgba(0, 0, 0, 0.075);
                        border: none;
                        border-radius: .2rem;
                    }

                    .options {
                        margin: .5rem 0;

                        h4 {
                            padding: .5rem 0;
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                padding: .3rem;
                                border-radius: .2rem;
                                margin: .3rem;
                                max-width: 100px;
                                display: flex;
                                padding-left: .2rem;
                                align-items: center;
                                justify-content: space-between;
                                border: 1px solid black;
                            }
                        }
                    }


                }

            }
        }
    }
}