.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.398);
        border-radius: 1rem;
    }


    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        max-height: fit-content;

        background: url('/blue.png');
        background-position: center;


        padding: 2rem;

        .header__content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            color: white;


            h1 {
                flex: 1;
                text-align: center;
                font-size: 2rem;
                padding: 1rem 0;
                font-weight: 400;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            p {
                flex: 1;
                opacity: .8;
                text-align: center;
                max-width: 800px;
            }

        }
    }

    .body {

        background: rgba(0, 0, 0, 0.453);

        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }



}

.fallback {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 500;
        // background: rgb(255, 150, 150);
        font-size: 1rem;
        padding: 1rem;



        &::first-letter {
            font-size: 4rem;
        }
    }
}