// Need to Extends in every SCSSS

$smoke: #F6F6FF;
$blue : #6C63FF;
$dark : #221C2E;
// $lightblue : #C7C4FF;
$pure-white : white;

$lightblue : #ffffff;


$border-grey : rgba(0, 0, 0, 0.044);

// borders 

$light-wrapper-border : 2px rgba(128, 128, 128, 0.124) solid;

%resetCss {
    border: none;
    outline: none;
    background: none;
    font-family: 'Raleway',
        sans-serif !important;

    font-size: 1rem;
    font-weight: 500;
}


%responsivePadding {
    padding: 4rem;

    @media (max-width: 1200px) {
        padding: 2rem;
    }
}


// responsive : paragraph type

%resParagraphFontSize {
    font-size: 1.1rem;
    opacity: .7;

    @media (max-width: 1200px) {
        font-size: 1rem;
    }

    @media (max-width: 800px) {
        font-size: 1rem;
    }
}


%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}